.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 30rem;
  margin-top: 9rem;
  margin-bottom: 13rem;
  padding-top: 3rem;
}
.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
}

.width-half{
  width: 40%;
}

.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}
.span-skills{
  color: var(--black);
}
.link-skills{
  color: var(--primary);
}
.span-S{
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: bold;
}
.skills-description{
  gap: 4rem;
}
.s-button {
  width: 8rem;
  margin-top: 1rem;
}
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}

.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}

@media screen and (max-width: 480px) {
  .services {
    margin-top: 0;
    flex-direction: column;
    gap: 2rem;
    height: auto;
    padding: 0;
    margin-bottom: -10rem;
  }
  .width-half{
    width: 100%;
    text-align: justify;
  }  
  .skills-description p{
    font-size: 0.9rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
  }
  .cards > * {
    position: static;
  }  
  .awesome > :nth-child(1) {
    font-size: 1.5rem;
  }
  .awesome > :nth-child(2) {
    font-size: 1.5rem;
  }
  .span-S{
    font-size: 1.5rem;
  }
}
