.t-wrapper{
    padding:  0 3rem 0 3rem;;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    padding-top: 4rem;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.t-heading{
    align-self: start;
}
.t-heading>*{
    font-size: 2.5rem;
    font-weight: bold;
}

.t-blur1{
    left: 38rem;
    top: 16rem;
}
.t-blur2{
    top: 9rem;
    left: 0;
}
.slogan{
    width : 100%;
    font-weight: bold;
    align-items: center;
    font-size: 4rem;
  }
  .slogan span{
    font-size: 4rem;
    color: var(--primary);
  }
  .about-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
  }
  .about-description p{
    margin: 10px 0;
    text-align: justify;
  }

@media screen and (max-width: 480px){
  .t-wrapper{
    padding:  0;
    margin-bottom: 8rem;
  }
  .t-heading>*{
      font-size: 1.5rem;
  }
  .slogan{
    font-size: 1.5rem;
  }
  .slogan span{
    font-size: 1.5rem;
  }
  .about-description > p{
    font-size: 0.9rem;
  }
}